@{
    ViewData["Title"] = "Home Page";
}

<div class="container py-4">
    <div class="jumbotron text-center cardPrincipal">
        <h2 class="display-4 text-dark">¡Bienvenido a RoBank</h2>
        <p class="lead text-dark">Un gran banco que te hace theft banking </p>
        <hr class="border border-primary border-2 opacity-55 w-50 mx-auto mt-2">
        <a class="btn buttonPrincipal btn-lg mt-3 mb-2 me-3" href="/auth/login" role="button"><i class="bi bi-box-arrow-in-right fs-4"> iniciar sesión</i></a>
        <a class="btn buttonPrincipal btn-lg mt-3 mb-2" href="/auth/crear-cuenta" role="button"><i class="bi bi-person-add fs-4"> crear cuenta</i></a>
    </div>
</div>
